<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div formGroupName="logInData">
            <h1>LOG IN</h1>

            @for (field of logInForm; track $index) 
            {
                <div class="form-group">
                    <h2>{{field.fieldName}}</h2>
                    <input type="{{field.type}}" class="form-control" formControlName="{{field.formName}}">
                </div>
            }

            <button class="btn btn-success mt-2 mb-3" type="submit" [disabled]="form.invalid">Submit</button>
            

        </div>
    </form>
</div>
