.routeLogo > img{
    width: 100%;
    display: inline-block;
}

.icon{
    display: inline-block;
    width: 7%;
}

.name{
    display: block;
    font-size: 30px;
    text-align: center;
    padding-top: 3px;
    padding-right: 30px;
}

.routeLogo{
    width: 7%;
    display: inline-block;
}

h1{
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px; 
    border-radius: 0px 0px 30px 30px;
}

.authorization{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.signup, .login{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    transition: color 0.2s ease;
}

.login:hover{
    color: rgb(101 101 101);
}

.signup:hover{
    color: rgb(101 101 101);
}

.logout{
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin-left: 20px;
    transition: color 0.2s ease;
}

.logout:hover{
    color: rgb(101 101 101);
}

